* {
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  font-family: sans-serif;
  text-align: center;
}

div {
  background-color: #3E6680;
  border: 2px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 2px 8px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  max-width: 960px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

li {
  margin: 0;
  padding: 0;
}

.links {
  margin-top: 20px;
}
